[submodule "integrations/OpenGL/extern/glew"]
	path = integrations/OpenGL/extern/glew
	url = git@github.com:nigels-com/glew.git
	ignore = dirty
[submodule "squish"]
	path = tools/ThirdParty/squish
	url = https://github.com/nbtdev/libsquish.git
[submodule "FreeImage"]
	path = tools/ThirdParty/FreeImage
	url = https://github.com/nbtdev/FreeImage.git
